<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item href="#">
          <mat-icon>menu</mat-icon>
          Menu
        </a>
        <a mat-list-item href="#">Home</a>
        <a mat-list-item href="#">Livros</a>
        <a mat-list-item href="#">Categorias</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="content">
        <p>Bem-vindo ao sistema!</p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  