<form>
  <h1>CRIANDO NOVA LIVRO</h1>

  <mat-form-field class="form">
    <mat-label>Título</mat-label>
    <input
      matInput
      [formControl]="titulo"
      required
      type="text"
      name="titulo"
      placeholder="Ex. Curso Spring Boot com Angular 10"
      maxlength="100"
    />
    <mat-error *ngIf="titulo.invalid">{{ getMessage(titulo) }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Nome do autor</mat-label>
    <input
      matInput
      [formControl]="nome_autor"
      required
      type="text"
      name="nome_autor"
      placeholder="Ex: Wesley Rosa"
      maxlength="100"
    />
    <mat-error *ngIf="nome_autor.invalid">{{ getMessage(nome_autor) }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Texto</mat-label>
    <textarea
      matInput
      [formControl]="texto"
      required
      name="texto"
      placeholder="Ex: Lorem ipsum"
      maxlength="2000000"
    ></textarea>
    <mat-error *ngIf="texto.invalid">{{ getMessage(texto) }}</mat-error>
  </mat-form-field>

  <div class="buttons">
    <button
      (click)="create()"
      [disabled]="titulo.invalid || nome_autor.invalid || texto.invalid"
      class="mat-elevation-z8"
      mat-stroked-button
      [ngClass]="{
        'texto-vermelho': titulo.valid && nome_autor.valid && texto.valid,
        'texto-cinza': titulo.invalid || nome_autor.invalid || texto.invalid
      }"
    >
      CRIAR
    </button>

    <!-- ✅ ROTA AJUSTADA PARA A LISTAGEM DE LIVROS -->
    <button
      [routerLink]="['/categorias', id_cat, 'livros']"
      class="mat-elevation-z8 texto-azul"
      mat-stroked-button
      type="button"
    >
      CANCELAR
    </button>
  </div>
</form>
