<form>
    <h1>CRIANDO NOVA LIVRO</h1>

    <mat-form-field class="form">
        <mat-label>Título</mat-label>
        <input matInput  type="text" name="titulo" placeholder="Ex: Curso Spring Boot com angular 15" maxlength="100">
      </mat-form-field>
      
      <mat-form-field class="form">
        <mat-label>Nome do autor</mat-label>
        <input matInput  type="text" name="nome_autor" placeholder="Ex: Wesley Rosa" maxlength="100">
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <input matInput  type="text" name="texto" placeholder="Ex: Lorem ipsum" maxlength="2000000">
      </mat-form-field>
      
      <div class="buttons">
        <button  class="mat-elevation-z8" mat-stroked-button color="primary">CRIAR</button>
        <button  class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
      </div>    
            
  </form>
  