<form>
  <h1>ATUALIZANDO CATEGORIA</h1>

  <mat-form-field class="form">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="categoria.nome" type="text" name="nome" >
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Descrição</mat-label>
    <textarea matInput [(ngModel)]="categoria.descricao" name="descricao" ></textarea>
  </mat-form-field>

  <div class="buttons">
    <button (click)="update()" class="mat-elevation-z8" mat-stroked-button color="primary">ATUALIZAR</button>
    <button (click)="cancelar()" class="mat-elevation-z8" mat-stroked-button color="primary">CANCELAR</button>
  </div>
</form>
