<form>
    <h1>ATUALIZANDO CATEGORIA</h1>
  
    <mat-form-field class="form">
      <mat-label>Nome</mat-label>
      <input matInput  type="text" name="nome" disabled>
    </mat-form-field>
  
    <mat-form-field class="form">
      <mat-label>Descrição</mat-label>
      <textarea matInput  name="descricao" disabled></textarea>
    </mat-form-field>
  
    <div class="buttons">
      <button  class="mat-elevation-z8" mat-stroked-button color="warn">EXCLUIR</button>
      <button  class="mat-elevation-z8" mat-stroked-button color="primary">CANCELAR</button>
    </div>
  </form>
  