<form>
  <h1>ATUALIZANDO CATEGORIA</h1>

  <mat-form-field class="form">
    <mat-label>Nome</mat-label>
    <input matInput type="text" name="nome" [(ngModel)]="categoria.nome" [disabled]="!categoria.id">
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Descrição</mat-label>
    <textarea matInput name="descricao" [(ngModel)]="categoria.descricao" [disabled]="!categoria.id"></textarea>
  </mat-form-field>

  <div class="buttons">
    <button class="mat-elevation-z8" mat-stroked-button color="warn">ATUALIZAR</button>
    <button class="mat-elevation-z8" mat-stroked-button color="primary" (click)="cancelar()">CANCELAR</button>
  </div>
</form>
