<div class="content">
    <div class="title">
      <h1>Categoria</h1>
    </div>
  
    <table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8 content-table">
      
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>
  
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> NOME </th>
        <td mat-cell *matCellDef="let element"> {{ element.nome }} </td>
      </ng-container>
  
      <!-- Descrição Column -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> DESCRIÇÃO </th>
        <td mat-cell *matCellDef="let element"> {{ element.descricao }} </td>
      </ng-container>
  
      <!-- Ações Column -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> AÇÕES </th>
        <td mat-cell *matCellDef="let element"> Editar </td>
      </ng-container>
  
      <!-- Renderização das linhas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  